DATABASE_URL="mysql://usuario:senha@localhost:3306/floor_restoration_manager"
JWT_SECRET="troque-por-um-segredo-longo-com-pelo-menos-24-caracteres"
APP_URL="http://localhost:3000"
NODE_ENV="development"
SESSION_MAX_AGE_DAYS="400"
UPLOAD_PROVIDER="local"
